/*Set color variables*/
:root {
    --primary: #A8323E;
    --secondary: #F6F1ED;
    --accent-1: #D9A441;
    --accent-2: #556B2F;
}

/*Font rules*/

@font-face {
    font-family: 'Playfair Display';
    src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Playfair Display Italic';
    src: url(../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
    font-style: italic;
}

@font-face {
    font-family: 'Noto Sans';
    src: url(../fonts/NotoSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url(../fonts/NotoSansKR-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Noto Sans Italic';
    src: url(../fonts/NotoSans-Italic-VariableFont_wdth\,wght.ttf);
    font-style: italic;
}

/*Style rules*/
/*General rules*/

body {
    background: var(--secondary);
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

#content-wrapper {
    max-width: 900px;
    margin: 0 auto;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

a {
    color: var(--accent-1);
    text-decoration: none;
}

a:hover {
    transition: 0.15s;
    color: var(--accent-2);
}

#nav-selected {
    color: var(--accent-2);
}

.fa {
    color: var(--accent-2);
}

.checked {
    color: var(--accent-1);
}

.button-link {
    padding: 15px;
    border-radius: 20px;
    margin: 15px 10px;
    color: var(--accent-1);
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-link:hover {
    filter: brightness(90%);
    transition: 0.15s;
}

/*Index-specific style rules*/
/*Header styles*/
header {
    background: var(--primary);
}

#upper-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

#logo {
    width: 75px;
}

nav {
    width: 450px;
    display: flex;
    justify-content: flex-end;
}

nav > a {
    padding: 15px 25px;

}

header > img {
    position: relative;
    margin: 15px 50px 25px 50px;
}

header > h1 {
    position: absolute;
    z-index: 1;
    color: var(--accent-1);
    margin: 125px 127px;
}

/*Main styles*/
main {
    text-align: center;
}

#recipe-preview {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 25px;
}

#recipe-preview > h2 {
    grid-column: 1/4;
    text-align: center;
}

#recipe-preview > img {
    width: 60%;
    grid-area: 2/1/4/2;
    margin: 0 auto;
}

#recipe-preview > p {
    grid-area: 2/2/2/4;
}

#recipe-preview > a {
    grid-area: 3/3/3/4;
    max-width: 150px;
}

#review-preview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 0.25fr 1fr;
    justify-items: center;
    align-items: center;
    background: var(--primary);
}

#review-preview > h2 {
    grid-area: 1/1/2/4;
}

#review-preview > .img-wrapper > img {
    width: 200px;
}

#review-preview > .img-wrapper > p {
    color: var(--secondary);
}

.star-rating {
    gap: 0;
}

#review-preview > a {
    grid-column: 3/4;
    background: var(--accent-2);
    color: var(--secondary);
}

/*Footer styles*/

footer {
    background: var(--accent-2);
    height: 65px;
    display: flex;
    align-items: center;
    font-size: large;
    color: var(--accent-1);
}

footer > p {
    margin: 0 35px;
}

/*Recipe-specific style rules*/



/*Review-specific style rules*/


